<fieldset>
  <div class="field">
    <%= f.select :grain_id, Grain.all.collect {|c| [c.name, c.id]} %>
    <%= f.text_field :amount %>
    <%= link_to raw('<i class="icon-remove"></i>'), "#", :class => 'remove_fields' %>
  </div>
</fieldset>
