<fieldset>
  <div class="field">
    <%= f.select :mash_type_id, MashType.all.collect {|c| [c.name, c.id]} %>
    <%= f.text_field :temperature %>
    <%= link_to raw('<i class="icon-remove"></i>'), "#", :class => 'remove_fields' %>
  </div>
</fieldset>
