<%= hidden_field_tag :month, params[:month] %>
<%= calendar @batches do |batch| %>
  <div>
    <ul>
      <li>
        <div class="well well-small">
          <%= link_to "%s (%s)" % [batch.recipe.name, batch.fermenter.name], batch %>
        </div>
      </li>
    </ul>
  </div>
<% end %>
