<%= hidden_field_tag :month, params[:month] %>
<%= calendar @batches do |batch| %>
  <div>
    <ul><li><%= link_to "%s (%s)" % [batch.recipe.name, batch.fermenter.name], batch %></li></ul>
  </div>
<% end %>
