.block.notice
  %h3 Block 15
  .content
    %p Put something here 
.block
  %h3 Links
  %ul.navigation
    %li= link_to "Hop Inventory", hop_inventories_path
    %li= link_to "Grain Inventory", grain_inventories_path
