<h1> Newest Recipes</h1>
<ul>
  <% Recipe.all(:order => 'creation_date DESC', :limit => 7).each do |recipe| %>
    <li><%= link_to recipe.name, recipe%> </li>
  <% end %>
</ul>
<h1>Fermenter schedule</h1>
<%= calendar @batches do |batch| %>
  <div><%= link_to "%s (%s)" % [batch.recipe.name, batch.fermenter.name], batch %>
<% end %>
