<h1>Brewtronic 5000</h1>
<%= link_to "Hops", hops_path %>
<%= link_to "Hop Suppliers", hop_suppliers_path %>
<%= link_to "Grain", grains_path %>
<%= link_to "Grain Inventory", grain_inventories_path %>
