<h1> Latest Batches</h1>
<ul>
  <% Batch.all(:order => 'date DESC', :limit => 7).each do |batch| %>
    <li><%= batch.recipe.name %> </li>
  <% end %>
</ul>
<h1>Prenatal beer</h1>
<ul>
  <% Batch.where("target_date > ?",Date.today).each do |batch| %>
    <li><%= batch.recipe.name %> </li>
  <% end %>
</ul>
