<h1>Hop Suppliers</h1>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse">
        <%= form_tag hop_suppliers_path, :method => 'get', :id => "hop_supplers_search", :class => "navbar-search pull-left" do %>
          <%= text_field_tag :search, params[:search], :class => "search-query", :placeholder => "Search" %>
        <% end %>
        <%= link_to raw('<i class="icon-plus-sign icon-white"></i> New Hop Supplier'), new_hop_supplier_path, :class => 'btn btn-primary pull-right'%>
      </div>
    </div>
  </div>
  <div id="hop_suppliers"><%= render 'hop_suppliers' %></div>
</div>
