<h1>Styles</h1>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse">
        <%= form_tag styles_path, :method => 'get', :id => "table_search", :class => "navbar-search pull-left", :autocomplete => "off" do %>
          <%= text_field_tag :search, params[:search], :class => "search-query", :placeholder => "Search" %>
        <% end %>
        <%= link_to raw('<i class="icon-plus-sign icon-white"></i> New Style'), new_style_path, :class => 'btn btn-primary pull-right'%>
      </div>
    </div>
  </div>
  <div id="index_table"><%= render 'styles' %></div>
</div>
