<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @yeast_manufacturer.name %>
</p>


<%= link_to 'Edit', edit_yeast_manufacturer_path(@yeast_manufacturer) %> |
<%= link_to 'Back', yeast_manufacturers_path %>
