<h1>Grain Transactions</h1>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse">
        <%= form_tag grain_transactions_path, :method => 'get', :id => "grain_transactions_search", :class => "navbar-search pull-left" do %>
          <%= text_field_tag :search, params[:search], :class => "search-query", :placeholder => "Search" %>
        <% end %>
        <%= link_to raw('<i class="icon-plus-sign icon-white"></i> New Grain Transaction'), new_grain_transaction_path, :class => 'btn btn-primary pull-right'%>
      </div>
    </div>
  </div>
  <div id="grain_transactions"><%= render 'grain_transactions' %></div>
</div>
