<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @grain_supplier.name %>
</p>


<%= link_to 'Edit', edit_grain_supplier_path(@grain_supplier) %> |
<%= link_to 'Back', grain_suppliers_path %>
