<footer class="footer">
  <small>
    Brewtronic 5000 by <a href="http://github.com/stepheno">Oskar Stephens</a> and <a href="http://github.com/bschlief">Bryan Schlief</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://github.com/stepheno/brewtronic-5000">About</a></li>
      <li><a href="https://github.com/stepheno/brewtronic-5000/issues/new">Issue?</a></li>
    </ul>
  </nav>
</footer>
