<footer class="footer">
  <small>
   Brewtronic 5000 by Oskar Stephens and Bryan Schlief 
  </small>
  <nav>
    <ul>
      <li><a href="http://github.com/stepheno/brewtronic-5000">About</a></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
